*{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    box-sizing:border-box;
    
}

.hero{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    border: 1.5px;
}



.main{
    background-color: #1f2937;
}

.weblogo{
    width: 50px;
    height: 50px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #F9FAF8;
}


.first-view{
    color:#F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:5%;

}

.header{
    font: 3rem extra-bold;
}

.header-text{
    font-size: 18px;
    font-color: #E5E7EB;

}

.intro-img{
  width:350px;
  margin-bottom: 25px;
  border-radius: 1.5rem;
}

.our-agents{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.agents{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: no-wrap;
    }

.sirs {
    width: 300px;
    padding:10px;
    margin: 10px;
    border-style: solid;
    border-radius: 1.5rem;
    transition: width ease-in 0.5s;


}

.sirs:hover{
    width: 350px;
    cursor: crosshair;
    border-radius: 1.8rem; 
}

.quote{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    font-style:italic;
    margin-top: 40px;
}

.action{
    margin-top: 40px;
}

.action-head{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
}

.action-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;

}

.call-button{
    align-self: center;
}

.footer{
    background-color: #1F2937;
    color: white;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:145px;
}

button{
    text-transform:uppercase;
    border-radius: 50px;
    padding: 10px 30px;
    text-decoration:wavy;
    font-weight:600;
    font-size: 100%;
    border-style: solid;
    border-color:  #334155;
    background-color: ;
    
}

button:hover{
    background-color: #334155;
    color: #E5E7EB;
    text-shadow:#E5E7EB ;
}

