html{
    scroll-behavior: smooth;
}

.hero{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.weblogo{
    width: 50px;
    height: 50px;
}

.firstnav{
   
}

.first-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.intro-img{
  width:350px;
}

.our-agents{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.agents{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: no-wrap;
}

.sirs {
    width: 200px;
}